* {
  box-sizing: border-box;
}

.loading {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  animation: hideLoader 2500ms 1 forwards;

}

@keyframes hideLoader {
  from{
    
    z-index:2;
    opacity:1;
  }
  to {
     opacity: 0;
     z-index:-1;
  }
}

@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}