header {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}



/* header Accueil */

.circle-animation {


  margin: auto;


  border: 20px solid #EAF0F6;


  border-radius: 50%;


  border-top: 20px solid #6a1b9a;


  width: 200px;


  height: 200px;


  animation: spinner 1s linear infinite;


}


 


@keyframes spinner {


  0% { transform: rotate(0deg); }


  100% { transform: rotate(360deg); }


}









.header_accueil_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  min-height: 60px;
}

.header_accueil_location {
  margin-left: 12px;
  font-weight: bold;
}

.header_accueil_background_description {
  background-color: #f3f3f3;
  min-height: 264px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header_accueil_description_first {
  font-size: 23px;
  text-align: center;
  padding-top: 24px;
  padding-left: 63px;
  padding-right: 60px;
}

.header_accueil_description_sub {
  font-size: 20px;
  text-align: center;
  font-weight: inherit;
  padding-bottom: 14px;
}


.header_accueil_button {
  display: flex;
  border: 2px solid #D3D3D3;
  border-radius: 85px;
  box-shadow: 1px 1px 1px 1px;
  justify-content: center;
  min-height: 50px;
  align-items: center;
  font-size: 18px;
  color: white;
  margin-bottom: 54px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  filter: brightness(0.9);
  transition: filter ease 0.5s;
  cursor: pointer;
}

.header_accueil_button:hover {
  filter: brightness(1);
}


/* header Restaurant */

.header_restaurant_logo {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 30%;
  align-items: center;
}


.header_restaurant_logo_arrow {
  text-decoration: none;
  color: black;
}


.head_title_image {
  min-height: 20vh;
  width: 100%;
  max-height:47vh;
  object-fit: cover;
}


.head_title {
  display: flex;
  flex-direction: column;
}



@media screen and (min-width: 768px) and (max-width: 991px) {}

/* header accueil */

.header_accueil_background_location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 230, 230);
  height: 50px;
}


/* header restaurant */

.header_restaurant_logo {
  padding-right: 30%;
}

.header_restaurant_logo {
  padding-right: 30%;
}

.header_restaurant_logo_arrow {
  margin-left: 25px;
}


@media screen and (min-width: 992px) {


  /* header accueil*/


  .logo {
   
    margin-left: 35px;
  }




  .header_accueil_background_description {
    background-color: #f3f3f3;
  }






  /* header restaurant*/


  .header_restaurant_logo {
    padding-right: 40%;
  }



  .head_title {
    display: flex;
  }

}