/* Heart */

.heart{
  position: absolute;
  right:15px;
  bottom:33px;
}
.restaurant_title_and_heart .heart{
  position:absolute;
  right:8%;
  bottom:8px;
}


@media screen and (min-width: 768px) and (max-width: 991px) {

}



@media screen and (min-width: 992px) { 
    

}