@import url('https://fonts.googleapis.com/css2?family=Shrikhand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
body{
  font-family: Roboto, Arial, Helvetica, sans-serif; 
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom:0;
}


.accueilLoading
{
  display: block;
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 10;

  background-color: lightgrey;
  animation: hideLoader 3500ms 1 forwards;
  animation-delay: 1500ms;
}

.accueilloading::after
{
  content : "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 
  width: 50px;
  height: 50px;
  border: black solid 5px;
  border-top-color: red;
  border-bottom-color: red;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes hideLoader
{
  100%
  {
    opacity: 0;
    display: none;
  }
}

@keyframes spin
{
  100%
  {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

  /* Header */

  .titleLogo {
    display: flex;
    justify-content: center;
    padding-left:0px;
    padding-right:80px;
    align-items:center;
  }

   .arrow{
    text-decoration: none;
  color: black;
   }

  .backgroundLocation{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(233, 230, 230);
    height: 50px;
    width: 100%;
  }

 .Location{
  margin-left:12px;
  font-weight:bold;
 }

 .subTitleFooter a{
  text-decoration: none;
  color: inherit;
 }
 .restaurantsCube a{
  text-decoration: none;
  color: inherit;
 }

header{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.backgroundOrder{
  display: flex;
  flex-direction: column;
}

.titleAccueil{
  font-size: 23px;
  text-align: center;
  padding-top:24px;
  padding-left:63px;
  padding-right:60px;
}

.subTitleAccueil{ 
  font-size: 20px;
  text-align: center;
  font-weight: inherit;
  padding-bottom:14px;
}

.buttonAccueil {
  display: flex;
  border: 2px solid 	#D3D3D3;
  border-radius: 85px;
  justify-content: center;
  min-height: 50px;
  align-items: center;
  font-size:18px;
  color:white;
  margin-bottom: 54px;
  padding-left:20px;
  padding-right:20px;
  background:linear-gradient(to bottom, #FF79DA, #9356DC)
  }
  

  .fonctionnementTitle{
    margin-left:23px;
    font-size:23px;
    }

.accueilChoose:hover>.filterFonctionnementAccueil {
  color: #9356DC;
  background-color: #eae2f1;
}

.filterFonctionnementAccueil2 {
  color:black;
}

.numero{
  background-color:#9356DC;
  border-radius: 50%;
  color:#f2f2f2;
  z-index:1;
  position:relative;
  min-width:24px;
  min-height:24px;
  margin-right:35px;
  margin-left:-57px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.new{
  background-color: rgb(77, 220, 167);
  color:#0d3a0d;
  z-index:1;
  position:relative;
  margin-top:-230px;
  margin-left:245px;
  width:68px;
  padding:5px;
}

.heart:hover .heartA{
 display: none;
}
.heart:hover .heartB{
  
  display: block;
  font-size:1.5em;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart .heartB{
 display: none;
 
}


.circleCheck:hover .circle-checkA{
  display: none;

 }
 .circleCheck:hover .circle-checkB{
   
   display: block;
   font-size:1.5em;
   background: greenyellow;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }
 .circleCheck .circle-checkB{
  display: none;
  
 }









.headTitle{
  display: flex;
  flex-direction: column;
}
.logo {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  margin-left: 70px;
  min-height: 60px;
}

.restaurantChoose{
display: flex;
  align-items:center;
}

.doubleTitle{
  display: flex;
  flex-direction: column;
}

.titleCardRestaurant{
display: flex;
font-weight: bold;
font-size:19px;

}

.titleRestaurant{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-left:10px;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
}

.subtitleCardRestaurant{
  
  font-size:16px;
  margin-top:5px;
}


.filterTitle{
box-shadow: 2px 8px 0px #ede8e8;
background-color: white;
margin-top: 17px;
border-radius: 10px;
min-height:70px;
font-size:12px;
width: 80%;
padding-left:13px;
padding-right:27px
}
.filterFonctionnementTitle{
  font-size:17px;
  margin-top:15px;
  font-weight: bold;
  margin-bottom:5px;
}

.heartAlaFrancaise{
margin-left: 140px;
}
.heart{
margin-left:110px;
}

.menuCompose{
display: flex;
  align-items:center;
}

.filterFonctionnementAccueil2{
font-size:16px;
padding-left:35px;
}

#fonctionnement{
display:inherit;
margin-bottom:63px;
}

.restaurantGout{
display: flex;
  align-items:center;
}
#restaurants{
  display:inherit;
  background-color: inherit;

}

.bodyBackground{
  background-color: #f3f3f3;
  border-radius:43px 43px 0 0;
  z-index:1;
  position:relative;
  margin-top:-55px;
  min-height:1300px;
}

.heart1{
  margin-left: 47px;
}

.Title2{
  display: flex;
  margin-left:25px;
  font-size: 20px;
  font-weight:bold;
  padding-top:30px;
  align-items: center;
}

.TitleFirst{
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  display:flex;
  font-size:25px;
  font-weight:bold;
}

.ImageTitle{
min-height:233px;
width:100%;
}

.price{
font-weight:bold;
}
.menuPart{
margin-top: 10px;
display:flex;
flex-direction: column;
margin-bottom:53px;
align-items: center;
}




.subTitlePage{
font-size: 17px;
margin-top:30px;
text-decoration:underline;
text-decoration-color: aquamarine;
margin-left:25px;
}

.BackgroundColorHead{
background-color: #f3f3f3;
min-height:264px;
display:flex;
align-items: center;
flex-direction: column;
}
.backGrey{
background-color: rgb(172, 162, 162);
}


.backGreyLight{
  background-color: rgba(134, 132, 132, 0.61);
}
.subTitle {
  display: flex;
  justify-content: center;
  align-items:center;
}



.restaurantsCube{
  width:94%;
  margin-bottom:40px;
  box-shadow: 5px 5px 5px 1px #c5bcbc;
   border-radius: 9px 9px 9px 9px;
  background-color: white;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  margin-right:9px;
  margin-left:9px;
  margin-top:9px;
  min-height:254px;
}

.restaurantsCube{
width:94%;
margin-bottom:40px;
box-shadow: 2px 2px 2px 1px #c5bcbc;
 border-radius: 9px 9px 9px 9px;
background-color: white;
border-bottom-right-radius: 9px;
border-bottom-left-radius: 9px;
border-top-left-radius: 23px;
border-top-right-radius: 23px;
margin-right:9px;
margin-left:9px;
margin-top:9px;
height:254px;
}

.filterRestaurant {
  display: flex;
  border-radius: 85px;
  border: 2px solid 	#D3D3D3;
  justify-content: center;
  min-height: 50px;
  align-items: center;

  color:white;
  padding-left:50px;
  padding-right:50px;
  background:linear-gradient(to bottom, #FF79DA, #9356DC)
  }

.commander{
  display: flex;
  justify-content: center;
}
.filterFonctionnementSubTitle{
display: flex;
font-weight:normal;
font-size: 13px;
justify-content: space-between;
}



.filterFonctionnementAccueil{
    display: flex;
border: 2px solid 	#D3D3D3;
margin-top: 35px;
margin-bottom: 10px;
border-radius: 25px;
font-weight:bold;
width: 65%;
min-height: 60px;
box-shadow: 0px 5px 5px rgb(228, 223, 223);
align-items: center;
margin-left:20px;
padding-left:47px;
padding-right:17px;
font-size: 15px;
background:#f3f3f3;
}

.BackgroundColorHead:hover>.buttonAccueil {
  color: #0a0b0c;
  background-color: #deebff;
}

.commander:hover>.filterRestaurant {
  color: #0a0b0c;
  background-color: #deebff;
}


.restaurantTitle{
margin-left:10px;
font-size:23px;
}
#restaurants {
 background-color: #f3f3f3;
  max-width: 1400px;
  padding-right:10px;
  padding-left:10px;
  padding-top:20px;
  padding-bottom:3px;
  min-height:1250px;
}






.backGreylight{
  background-color: grey;
}

.restaurantsImage{
  object-fit: cover;
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0
}

footer{
display: flex;
flex-direction: column;
  background-color: black;
min-height:184px;
}

.footBlocSize{
font-size: 14px;
min-height:30px;
margin-top:0px;
margin-left:0px;
color:white;
padding-left:5%;
padding-bottom:2%;
}

.propose{
padding-bottom: 2%;
}

.devenirMarge{
padding-bottom:2%;
}

.devenirLinkD{
padding-bottom:2%;
}

.mentionsLinkD{
padding-top:2%;
padding-bottom:2%;
}



.subTitleFooter {
  color:white;
  margin-left:0;
  padding-left:5%;
  display:flex;
  align-items: center;
  margin-bottom:5px;
}
.subTitleFooter2{
margin-left:8px;
margin-bottom:5px;
}

.subTitleFooterOhmyfood{
font-style: italic;
margin-left:17px;
font-weight: bold;
padding-top:5%;

font-size:17px;
color:white;
margin-bottom:20px;
}



@media screen and (min-width: 768px) and (max-width: 991px) {

  body {
    font-family: Roboto, Arial, Helvetica, sans-serif; 
    max-width: 2340px;
    padding-bottom:200px;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
}

  /*Header */
 
    .icon{
       min-height:50px;
       border-radius: 10px 0 0 10px;
    }
    .Title2{
      margin-left:130px;
      padding-top:50px;
    }

    .new{
      margin-left:625px;
    }

      .numero{
        padding-right:2px;
        margin-left:-27px;
      }
    
    .searchPadding {
      padding-left: 20px;
      width:230px;
      font-size:16px;
    }
  .searchButton{
    min-height: 50px;
    width: 135px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
  }

 

    .bodyBackground{
      background-color: #f3f3f3;
      border-radius:0;
      z-index:3;
      position:unset;
      margin-top:-40px;
      width:100%;
      
    }

 #fonctionnement{
  display:flex;
  justify-content:space-around;
  margin-bottom:32px;
 }
 #restaurants {
  background-color: #f3f3f3;
   max-width: 1400px;
   padding-right:10px;
   padding-left:10px;
   padding-top:20px;
   padding-bottom:3px;
 }

 .filterFonctionnementAccueil{
  display: flex;
border: 2px solid 	#D3D3D3;
margin-top: 35px;
margin-bottom: 35px;
border-radius: 25px;
font-weight:bold;
width: 65%;
min-height: 60px;
box-shadow: 0px 5px 5px rgb(228, 223, 223);
align-items: center;
margin-left:20px;
padding-left:17px;
padding-right:17px;
font-size: 15px;
background:#f3f3f3;
}
  



  /* information */

 

  .filterItem{
    margin-left:19px;
  }
  

   

 



  .filter {
display: flex;
border: 2px solid 	#D3D3D3;
border-radius: 85px;
width: 25%;
min-height: 50px;
align-items: center;
margin-left:280px;
padding-left:27px;
color:white;

background:linear-gradient(to bottom, #FF79DA, #9356DC)
}
  .heart{
margin-left:470px;
}

  .heartAlaFrancaise{
margin-left:500px;
}
  
  

 

  .filterTitle{
    width:85%;
  }

  .filterFonctionnementTitle{
    font-size:20px;
    margin-top:10px;
  }


  .filterFonctionnementSubTitle{
    font-size:19px;
  }

  



  



  
  footer{
    min-height: 235px;
    margin-left:0px;
    margin-right:0px;
  }

  
 

  .subTitlePage{
  font-size:16px;
  }
  .subTitleFooter{
    margin-left:200px;
  }



.subTitleFooterOhmyfood{
font-style: italic;
margin-left:250px;
font-weight: bold;
padding-top:5%;

font-size:17px;
color:white;
margin-bottom:20px;
}



  
}





 

@media screen and (min-width: 992px) {
  body {
    font-family: Roboto, Arial, Helvetica, sans-serif; 
    max-width: 1400px;
    padding-right:50px;
    padding-left:50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .heart1{
    margin-left:30px;
  }
  .TitleFirst{
    display:flex;
    margin-left:330px;
    font-size:42px;
    font-weight:bold;
  }
  
  /* Head */
  

  
  .BackgroundColorHead{
    background-color: #eae6e6;
  }
  
  .Title2{
    display:flex;
    margin-left: 330px;
  }
  .ImageTitle{
    min-height:300px;
    width:250px;
  }
  
  .headTitle{
    display: flex;
  }

  .menuPart{
    display:flex;
    flex-direction: inherit;
    width:90%
    }
  
  .chartLogo{
    font-size:18px;
  }
  
  .subTitle {
      display: flex;
      align-items:center;
    }
  
  .subTitle2 {
      margin-left:12px;
      
    }
  
  .subTitlePage{
    margin-top: 24px;
    text-decoration: underline;
    text-decoration-color: aquamarine;
    font-size:23px;
  }
  .filterFonctionnementSubTitle{
    display: flex;
    font-size:15px;
  }
  
  .filterFonctionnementTitle{
    font-weight: bold;
    margin-top:13px;
    font-size:22px;
  }
  
  .filterFonctionnementAccueil{
    display: flex;
  border: 2px solid 	#D3D3D3;
  margin-top: 35px;
  margin-bottom: 12px;
  border-radius: 25px;
  font-weight:bold;
  width: 17%;
  min-height: 50px;
  align-items: center;
  padding-left:47px;
  padding-right:67px;
  font-size: 13px;

  }

  .restaurantsCube{
    box-shadow:2px 2px 2px 1px #c5bcbc;
  }
  
  #fonctionnement{
    display:flex;
    justify-content: space-around;
    margin-bottom:34px;
  }
  
    .filterTitle{
      border: 2px solid 	#D3D3D3;
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 25px;
  font-size:12px;
  width: 65%;
  min-height: 80px;
  margin-left:20px;
  padding-left:27px;
  padding-right:27px
    }

  .bodyBackground{
   min-height:1970px;
    background-color: #f3f3f3;
    
    z-index: inherit;
    position: inherit;
    
  
  }
  
  .menuPart{
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
  }
  
 
  
 
  
  .price{
    margin-left:20px;
    font-weight: bold;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #restaurants{
    display: flex;
    justify-content: space-around;
  background-color: #f2f2f2;
 
  padding-right:5%;
  min-height:500px;
  
  }
  

  
  .filtreMargTitle{
    font-size:18px;
  }
  
  
  
  
  .boldText {
    font-weight: bold;
    
  }
  
  .cBlue {
    color: #0065fc;
  }
  
  .cGrey {
    color: #f2f2f2;
  }
  
  .backBlue {
    background-color: #0065fc;
  }
  
  .backGrey {
    background-color: #f2f2f2;
  }
  
 
  

  
  .logo {
    margin-bottom: 27px;
    margin-left: 35px;
  }

  
  /*Filter*/
  
  .fa-info:before{
    padding-left:9px;
  }
 
  
  .filter {
    display: flex;
    justify-content:space-between;
    margin-top:23px;
    padding-left:40px;
    border: 2px solid 	#D3D3D3;
    border-radius: 25px;
    width: 10%;
    min-height: 50px;
    align-items: center;
    background:linear-gradient(to bottom, #FF79DA, #9356DC);
    color:white;
    margin-left:580px;
    margin-bottom:20px;
    
  }


  .TitleText {
    color: #000000;
    margin-left: 4.5px;
    font-size: small;
    
  }
  
  .filterItem {
    display: flex;
  border: 2px solid 	#D3D3D3;
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 25px;
  width: auto;
  min-height: 50px;
  align-items: center;
  color: #0065fc;
  margin-left:20px;
  padding-left:27px;
  padding-right:27px;
  }
  

  
  .restaurantsCubeAlaFrancaise{
    width:20%;
    margin-top:80px;
  }
  .restaurantsCube{
    width: 20%;
    margin-top:80px;
  }
  
  .restaurantsImage{
    width:100%;
  }
  
  
  .new{
    margin-top: -210px;
    margin-left:173px;
  }
  
  /* icon */
  .information {
    display: flex;
    align-items: center;
    margin-left: 33px;
  }
  
  
 
  
  

  
  
  
 
  
 
  
  
  
  

  
  
  
 
  

  
  
  

  


  
  
 
  

  
  .restaurantChoose{
    display: flex;
      align-items:center;
  }

 
  
  .filterFonctionnementAccueil{
    display:flex;
    margin-bottom: 12px;
  }
  
  .titleCardRestaurant{
    display: flex;
    font-weight: bold;
    font-size:13px;
  }
  .subtitleCardRestaurant{
    margin-left:10px;
    font-size: 12px;
  }
  
  .heartAlaFrancaise{
    margin-left: 27px;
  }
  .heart{
    margin-left:100px;
  }
  
  .menuCompose{
    display: flex;
      align-items:center;
  }
  
  .filterFonctionnementAccueil2{
    padding-left:15px;
  }
  
  .restaurantGout{
    display: flex;
      align-items:center;
  }
  
  .titleHeight {
    min-height: 70px;
  }
  

  
 
  
  
  /* footer */
  
  footer {
    display:flex;
    flex-direction: column;
    background-color: #000000;
  }
  
 
  

  

  
  
 
  
 

  
  /*footer*/
  .subTitleFooter2{
    margin-left:8px;
  }
  .subTitleFooterOhmyfood{
    font-size:23px;
    font-weight: bold;
    margin-left:604px;
    padding-top:10px;
    padding:0%;
    
  }
  
  .subTitleFooter{
     display: flex;
     align-items: center;
      margin-left:534px;
      padding:3px;
      margin-left:604px;
      color:white;
  }
  
}
  
