@import url('https://fonts.googleapis.com/css2?family=Shrikhand:wght@400;700&display=swap');
@import "./base/animation.scss";
@import "body.scss";
@import "card.scss";
@import "footer.scss";
@import "header.scss";
@import "menu.scss";