
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body {
 font-family: Raleway, Arial, Helvetica, sans-serif; 
  max-width: 1400px;
  padding-right:50px;
  padding-left:50px;
  margin-left: auto;
  margin-right: auto;
}



@media screen and (max-width: 767px) {
.backGrey{
  background-color: rgb(172, 162, 162);
}

.backGreyLight{
    background-color: rgba(134, 132, 132, 0.61);
  }
.subTitle {
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .Title {
    display: flex;
    justify-content: center;
    align-items:center;
  }

.filter {
  display: flex;
border: 2px solid 	#D3D3D3;
border-radius: 25px;
width: 65%;
height: 50px;
align-items: center;
background-color: purple;
margin-left:20px;
padding-left:27px;
}

.filterFonctionnement{
      display: flex;
border: 2px solid 	#D3D3D3;
margin-top: 35px;
margin-bottom: 35px;
border-radius: 25px;
font-weight:bold;
width: 65%;
height: 50px;
align-items: center;
margin-left:20px;
padding-left:27px;
padding-right:27px
}
#restaurants{
    margin-bottom:230px;
}

.restaurantsCube {
    height: 9px;
    padding:34%;
    margin-bottom:12px;
    border-radius: 10px;
}

.backGreylight{
    background-color: grey;
}

.restaurantsImage{
    object-fit: cover;
    width: 100%;
    height: 134px;
    border-radius: 15px 15px 0 0
}

footer{
    margin-top:133px;
    background-color: #6e6565ce;

}

.subTitleFooter {
    color:white;
}
}