/* Menu Restaurant */

.bodyBackground{
    background-color: #f3f3f3;
    border-radius:43px 43px 0 0;
    z-index:1;
    position:relative;
    margin-top:-55px;
    min-height:1300px;
  }

 


  
  

  .backgroundOrder{
    display: flex;
    flex-direction: column;
  }

  .subTitlePage{
    font-size: 17px;
    margin-top:30px;
    text-underline-offset: 0.6em;
    text-decoration:underline;
    text-decoration-color: aquamarine;
    padding-left:5%;
    }
    
    .menuPart{
      margin-top: 10px;
      display:flex;
      flex-direction: column;
      margin-bottom:53px;
      align-items: center;
      }

      #menuTitle{
        margin-top:10px;
        margin-bottom:10px;
        position: relative;
         width: 90%;
      }

      #menuTitle:hover #front{
        width: 80%;  
      }
      
      .menuTitle:not(:hover) #front{
        width: 100%;
      }

      #back{
        border-radius: 15px 15px 15px 15px;
        background-color: #99E2D0;
        box-shadow: 2px 8px 0px #ede8e8;
        min-height: 75px;
        display:flex;
        justify-content: end;
        align-items: center;
      }

      
.checkValidation{
  padding-right:5%;
  color:white;
}

#front{
  position:absolute;
  background-color: white;
  border-radius: 15px 15px 15px 15px; 
  height: 100%; 
  top: 0;  
  left: 0; 
  height: 75px;
  transition: width 3s ease-in-out; 
  width: 100%;

}

.menuhead_title{
  font-size:17px;
  margin-top:15px;
  font-weight: bold;
  margin-bottom:5px;
  padding-right:5%;
  padding-left:40px;
}
      

.menuSubtitle{
  display: flex;
  font-weight:normal;
  font-size: 13px;
  justify-content: space-between;
  padding-left:40px;
  padding-right:5%;
  }

  .subTitle {
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .price{
    font-weight:bold;
    }
   
    .order{
      display: flex;
      justify-content: center;
    }


    
.order:hover>.orderWord {
  color: #0a0b0c;
  background-color: #deebff;
}



.orderWord {
  display: flex;
  border-radius: 85px;
  border: 2px solid 	#D3D3D3;
  justify-content: center;
  min-height: 50px;
  align-items: center;
  margin-bottom: 10%;
  color:white;
  padding-left:50px;
  padding-right:50px;
  background:linear-gradient(to bottom, #FF79DA, #9356DC)
  }

/* Menu accueil */


.fonctionnement_title{
  margin-left:23px;
  font-size:23px;
  }



  

    #fonctionnement{
      display:inherit;
      margin-bottom:63px;
      padding-left:5%;
      padding-right:5%;
      }



      .filter_select:hover>.filter {
        color: #9356DC;
        background-color: #eae2f1;
      }


      .filter{
        display: flex;
    border: 2px solid 	#D3D3D3;
    margin-top: 35px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-weight:bold;
    min-height: 60px;
    box-shadow: 0px 5px 5px rgb(228, 223, 223);
    align-items: center;
    padding-left:11%;
    padding-right:11%;
    font-size: 15px;
    background:#f3f3f3;
    }



    .filter_number{
      background-color:#9356DC;
      border-radius: 50%;
      color:#f2f2f2;
      z-index:1;
      position:relative;
      min-width:24px;
      min-height:24px;
      margin-right:10%;
      margin-left:-17.95%;
      display:flex;
      align-items: center;
      justify-content: center;
    }

    .filter_number{
      padding-right:2px;
      margin-left:-17%;
    }


    .filter_word{
      font-size:16px;
      padding-left:9%;
      }


      #container_restaurants_cards {
        background-color: #f3f3f3;
         max-width: 1400px;
         padding-right:10px;
         padding-left:10px;
         padding-top:20px;
         padding-bottom:3px;
         min-height:1250px;
       }

       



        .restaurant_new{
          background-color: rgb(77, 220, 167);
          color:#0d3a0d;
          z-index:1;
          position:absolute;
          padding:2%;
          right:17px;
          top:26px;
          max-width:105px;
          overflow-wrap:break-word;
        }

    
        
       

      

        
          .heart{
            padding-right:10px;
            }
          
         

  @media screen and (min-width: 768px) and (max-width: 991px) {


    /* Menu Restaurant */

    .bodyBackground{
        background-color: #f3f3f3;
        border-radius:0;
        z-index:3;
        position:unset;
        margin-top:-40px;
        width:100%;   
      }

   


      .subTitlePage{
        font-size:16px;
        }


        .checkValidation{
          padding-right:6%;
        }

        .menuhead_title{
          font-size:20px;
          margin-top:10px;
        }

        .menuSubtitle{
          font-size:19px;
        }


        /* Menu Accueil */

        #fonctionnement{
          display:flex;
          justify-content:space-around;
          margin-bottom:32px;
          padding-left:2%;
          padding-right:2%;
         }


         .filter{
          display: flex;
        border: 2px solid 	#D3D3D3;
        margin-top: 35px;
        margin-bottom: 35px;
        border-radius: 25px;
        font-weight:bold;
        width: 65%;
        min-height: 60px;
        box-shadow: 0px 5px 5px rgb(228, 223, 223);
        align-items: center;
        margin-left:20px;
        padding-left:17px;
        padding-right:17px;
        font-size: 15px;
        background:#f3f3f3;
        }

        #container_restaurants_cards{
          background-color: #f3f3f3;
          display:flex;
          gap:15px;
         }

         .restaurantTitle{
          padding-left:4%;
          padding-right:4%;
          font-size:23px;
          }

          .restaurant_new{
            margin-left:0px;
            margin-right:0px;
            margin-top:0px;
            position:absolute;
            top:30px;
            right:36px;
          }
  }


  @media screen and (min-width: 992px) {  
    
    /* Menu Restaurant */

  

  

      

        .subTitlePage{
          margin-top: 24px;
          text-decoration: underline;
          text-decoration-color: aquamarine;
          font-size:23px;
        }

        .menuPart{
          margin-top: 10px;
          display:flex;
          width:100%;
          flex-direction: inherit;
          justify-content: space-between;
        }

        .checkValidation{
          padding-right:5%;
        }

        .menuhead_title{
          font-weight: bold;
          margin-top:13px;
          font-size:22px;
        }

        .menuSubtitle{
          display: flex;
          font-size:15px;
        }

        .subTitle {
          display: flex;
          align-items:center;
        }

        .price{
          margin-left:20px;
          font-weight: bold;
        }

        .bodyBackground{
          background-color: #f3f3f3;
          z-index: inherit;
          position: inherit;
        }
       

        /* Menu Accueil */


        #fonctionnement{
          display:flex;
          justify-content: space-around;
          margin-bottom:34px;
          padding-left: 0%;
          padding-right:0%
        }

        .filter{
          display:flex;
          margin-bottom: 12px;
        }



        .filter{
          display: flex;
        border: 2px solid 	#D3D3D3;
        margin-top: 35px;
        margin-bottom: 12px;
        border-radius: 25px;
        font-weight:bold;
        min-height: 50px;
        align-items: center;
        padding-left:47px;
        padding-right:67px;
        font-size: 13px;
      
        }

        .filter_number{
          display:none;
         }

         .filter_word{
          padding-left: 0%;
         }

         #container_restaurants_cards{
          display: flex;
          flex-direction: column;
        background-color: #f2f2f2;
        min-height:50px;
        }

         .restaurantTitle{
          padding-left:1%;
          padding-left:1%;
        }

        .restaurant_card{
          display: flex;
          justify-content: space-between;
          margin-left: 1%;
          margin-right: 1%;  
        }


        
  .restaurant_new{
    right: 10px;
    top:24px;
     position:absolute;
     margin-top: 0px;
     margin-left:0px;
     padding:1%;
   }

 
   }