

/* Menu Restaurant */

.bodyBackground{
    background-color: #f3f3f3;
    border-radius:43px 43px 0 0;
    z-index:1;
    position:relative;
    margin-top:-55px;
    min-height:1300px;
  }

  .restaurant_title_and_heart{
    position:relative;
    padding-top: 21px;
  }

  .restaurant_title{
    position:relative;
    padding-left: 5%;
    padding-top: 21px;
  }
  
  

  .backgroundOrder{
    display: flex;
    flex-direction: column;
  }

  h3 span{
    display:block;
    height:3px;
    width:40px;
    background:aquamarine;
    margin-top:-10px;
    }
    
    .menu{
      margin-top: 10px;
      display:flex;
      flex-direction: column;
      margin-bottom:53px;
      align-items: center;
      }

      *, *::before, *::after{
  
        box-sizing:border-box;
        
      
    }
    
   

    
    .menu_card{
      width:300px;
      background:#ffffff;
      padding:15px;
      border-radius:5px;
      margin:0 auto;
      margin-top:50px;
      height:75px;
      position:relative;
  
}

.menu_card div{
  
    position:absolute;
    top:0;
    right:0;
    width:0px;
    height:75px;
    border-radius:5px 0 0 5px;
    background:#009688;
    transition:width ease 0.5s;
    text-align:center;
    padding-top:27px;
    overflow:hidden;
}

.menu_card:hover div{
  
    width:75px;
  
}

    

      





      

.menu_card_description{
  display: flex;
  font-weight:normal;
  font-size: 13px;
  justify-content: space-between;
  padding-left:40px;
  padding-right:5%;
  }

  .menu_card_subtitle {
    display: flex;
    justify-content: center;
    align-items:center;
  }

  *, *::before, *::after{
  
    box-sizing:border-box;
  
}


  .menu_card_price{
    font-weight:bold;
    }
   
    .order{
      display: flex;
      justify-content: center;
    }


    
    .menu_order {
      display: flex;
      border-radius: 85px;
      border: 2px solid 	#D3D3D3;
      justify-content: center;
      box-shadow:1px 1px 1px 1px;
      min-height: 50px;
      align-items: center;
      margin-bottom: 10%;
      color:white;
      padding-left:50px;
      padding-right:50px;
      background:linear-gradient(to bottom, #FF79DA, #9356DC);
      border:none;
      outline:none;
      filter:brightness(0.7);
      transition:filter ease 0.5s;
      cursor:pointer;
      }
    
      .menu_order:hover {
        filter:brightness(1);
      }

/* Menu accueil */


.fonctionnement_title{
  margin-left:23px;
  font-size:23px;
  }



  

    #fonctionnement{
      display:inherit;
      margin-bottom:63px;
      padding-left:5%;
      padding-right:5%;
      }



     


   


      *{
  
        box-sizing:border-box;
     
   }
   
  

   button{
    display:block;
    border:none;
    padding:15px;
    border-radius:20px;
    width:250px;
    margin:0 auto;
    margin-top:20px;
    cursor:pointer;
    height:70px;
    position:relative;
}

button svg {
  
    display:inline-block;
    width:18px;
    height:18px;
    vertical-align:middle;
    margin-right:10px;
  
}


button span:last-child{
    display:inline-block;
    width:24px;
    height:24px;
    background:#6a1b9a;
    color:#ffffff;
    text-align:center;
    padding-top:4px;
    border-radius:12px;
    position:absolute;
    top:50%;
    left:0;
    transform:translate3d(-50%,-50%, 0);
    
}

button:hover{
  
    background:#f3e5f5;
  
}

button:hover svg path{
  
     fill:#6a1b9a;
  
}
   
  

  


   


      #container_restaurants_cards {
        background-color: #f3f3f3;
         max-width: 1400px;
         padding-right:10px;
         padding-left:10px;
         padding-top:20px;
         padding-bottom:3px;
         min-height:1250px;
       }

       



        .restaurant_new{
          background-color: rgb(77, 220, 167);
          color:#0d3a0d;
          z-index:1;
          position:absolute;
          padding:2%;
          right:17px;
          top:26px;
          max-width:105px;
          overflow-wrap:break-word;
        }

    
        
       

      

        
         

  @media screen and (min-width: 768px) and (max-width: 991px) {


    /* Menu Restaurant */

    

   




       

       

        .menu_card_description{
          font-size:19px;
        }


        /* Menu Accueil */

        #fonctionnement{
          display:flex;
          justify-content:space-around;
          margin-bottom:32px;
          padding-left:2%;
          padding-right:2%;
         }



        #container_restaurants_cards{
          background-color: #f3f3f3;
          display:flex;
          gap:15px;
         }

         .restaurantTitle{
          padding-left:4%;
          padding-right:4%;
          font-size:23px;
          }

          .restaurant_new{
            margin-left:0px;
            margin-right:0px;
            margin-top:0px;
            position:absolute;
            top:30px;
            right:36px;
          }
  }


  @media screen and (min-width: 992px) {  
    
    /* Menu Restaurant */

  

  

      

        .menu{
          margin-top: 10px;
          display:flex;
          width:100%;
          flex-direction: inherit;
          justify-content: space-between;
        }

        .menuhead_title{
          font-weight: bold;
          margin-top:13px;
          font-size:22px;
        }

        .menu_card_description{
          display: flex;
          font-size:15px;
        }

        .menu_card_subtitle {
          display: flex;
          align-items:center;
        }

        .menu_card_price{
          margin-left:20px;
          font-weight: bold;
        }

     
       

        /* Menu Accueil */


        #fonctionnement{
          display:flex;
          justify-content: space-around;
          margin-bottom:34px;
          padding-left: 0%;
          padding-right:0%
        }

       



     

       


         #container_restaurants_cards{
          display: flex;
          flex-direction: column;
        background-color: #f2f2f2;
        min-height:50px;
        }

         .restaurantTitle{
          padding-left:1%;
          padding-left:1%;
        }

        .restaurant_card{
          display: flex;
          justify-content: space-between;
          margin-left: 1%;
          margin-right: 1%;  
        }


        
  .restaurant_new{
    right: 10px;
    top:24px;
     position:absolute;
     margin-top: 0px;
     margin-left:0px;
     padding:1%;
   }

 
   }