@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); /* animaton accueil */
.accueilLoading {
  display: flex;
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 10;
  background-image: url("/images/logo/ohmyfood.png");
  background-color: lightgrey;
  animation: hideLoader 3500ms 1 forwards;
  animation-delay: 1500ms;
  left: 0;
  align-items: center;
  justify-content: center;
}

.accueilLoading svg :nth-child(1) {
  animation-name: rotation;
  animation-duration: 0.7s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.accueilLoading svg :nth-child(2) {
  animation-name: rotation;
  animation-duration: 0.7s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.accueilLoading svg :nth-child(3) {
  animation-name: rotation;
  animation-duration: 0.7s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.accueilLoading svg :nth-child(4) {
  animation-name: rotation;
  animation-duration: 0.7s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.accueilLoading svg :nth-child(5) {
  animation-name: rotation;
  animation-duration: 0.7s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.accueilLoading svg :nth-child(6) {
  animation-name: rotation;
  animation-duration: 0.7s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.accueilLoading svg :nth-child(7) {
  animation-name: rotation;
  animation-duration: 0.7s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.accueilLoading svg :nth-child(8) {
  animation-name: rotation;
  animation-duration: 0.7s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes rotation {
  from {
    transform: translateX(75%);
    opacity: 0, 5;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.heart:hover .heartA {
  display: none;
}

.heart:hover .heartB {
  display: block;
  font-size: 1.5em;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart .heartB {
  display: none;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    max-width: 2340px;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    max-width: 1400px;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*footer */
.footer_description a {
  text-decoration: none;
  color: inherit;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 184px;
}

.footBlocSize {
  font-size: 14px;
  min-height: 30px;
  margin-top: 0px;
  margin-left: 0px;
  color: white;
  padding-left: 5%;
  padding-bottom: 2%;
}

.footer_description {
  color: white;
  padding-left: 5%;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.footer_sub_name {
  margin-left: 8px;
  margin-bottom: 5px;
}

.footer_first_title {
  padding-left: 5%;
  font-weight: bold;
  padding-top: 5%;
  font-size: 17px;
  color: white;
  margin-bottom: 1px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    min-height: 235px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer_description {
    padding-left: 40%;
  }
  .footer_first_title {
    padding-left: 40%;
    font-weight: bold;
    padding-top: 5%;
    font-size: 17px;
    color: white;
  }
}
@media screen and (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: column;
    background-color: #000000;
  }
  .footer_sub_name {
    margin-left: 8px;
  }
  .footer_first_title {
    font-size: 23px;
    padding-left: 48%;
  }
  .footer_description {
    display: flex;
    align-items: center;
    padding: 3px;
    padding-left: 48%;
    color: white;
  }
}
header {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* header Accueil */
.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  min-height: 60px;
}

.header_accueil_location {
  margin-left: 12px;
  font-weight: bold;
}

.BackgroundColorHead {
  background-color: #f3f3f3;
  min-height: 264px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header_accueil_description_first {
  font-size: 23px;
  text-align: center;
  padding-top: 24px;
  padding-left: 63px;
  padding-right: 60px;
}

.header_accueil_description_sub {
  font-size: 20px;
  text-align: center;
  font-weight: inherit;
  padding-bottom: 14px;
}

.accueil_button {
  display: flex;
  border: 2px solid #D3D3D3;
  border-radius: 85px;
  justify-content: center;
  min-height: 50px;
  align-items: center;
  font-size: 18px;
  color: white;
  margin-bottom: 54px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
}

.accueil_button:hover > .accueil_button_name {
  color: #000000;
}

/* header Restaurant */
.header_logo {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 30%;
  align-items: center;
}

.header_logo_arrow {
  text-decoration: none;
  color: black;
}

.head_title_image {
  min-height: 233px;
  width: 100%;
}

.head_title {
  display: flex;
  flex-direction: column;
}

/* header accueil */
.header_background_location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 230, 230);
  height: 50px;
}

/* header restaurant */
.titleLogo {
  padding-right: 40%;
}

@media screen and (min-width: 992px) {
  /* header accueil*/
  .logo {
    margin-bottom: 27px;
    margin-left: 35px;
  }
  .BackgroundColorHead {
    background-color: #f3f3f3;
  }
  .header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* header restaurant*/
  .titleLogo {
    padding-right: 40%;
  }
  .head_title_image {
    min-height: 300px;
    width: 250px;
  }
  .head_title {
    display: flex;
  }
}
/* Heart */
@media screen and (min-width: 992px) {
  .heartTitle {
    margin-left: 30px;
  }
}
/* Menu Restaurant */
.bodyBackground {
  background-color: #f3f3f3;
  border-radius: 43px 43px 0 0;
  z-index: 1;
  position: relative;
  margin-top: -55px;
  min-height: 1300px;
}

.restaurant_titleAndHeart {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 10%;
  padding-top: 10%;
  align-items: center;
}

.restaurant_title {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

.backgroundOrder {
  display: flex;
  flex-direction: column;
}

.subTitlePage {
  font-size: 17px;
  margin-top: 30px;
  text-underline-offset: 0.6em;
  text-decoration: underline;
  text-decoration-color: aquamarine;
  padding-left: 5%;
}

.menuPart {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 53px;
  align-items: center;
}

#menuTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 90%;
}

#menuTitle:hover #front {
  width: 80%;
}

.menuTitle:not(:hover) #front {
  width: 100%;
}

#back {
  border-radius: 15px 15px 15px 15px;
  background-color: #99E2D0;
  box-shadow: 2px 8px 0px #ede8e8;
  min-height: 75px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.checkValidation {
  padding-right: 5%;
  color: white;
}

#front {
  position: absolute;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  height: 100%;
  top: 0;
  left: 0;
  height: 75px;
  transition: width 3s ease-in-out;
  width: 100%;
}

.menuhead_title {
  font-size: 17px;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-right: 5%;
  padding-left: 40px;
}

.menuSubtitle {
  display: flex;
  font-weight: normal;
  font-size: 13px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 5%;
}

.subTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  font-weight: bold;
}

.order {
  display: flex;
  justify-content: center;
}

.order:hover > .orderWord {
  color: #0a0b0c;
  background-color: #deebff;
}

.orderWord {
  display: flex;
  border-radius: 85px;
  border: 2px solid #D3D3D3;
  justify-content: center;
  min-height: 50px;
  align-items: center;
  margin-bottom: 10%;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
}

/* Menu accueil */
.fonctionnement_Title {
  margin-left: 23px;
  font-size: 23px;
}

#fonctionnement {
  display: inherit;
  margin-bottom: 63px;
  padding-left: 5%;
  padding-right: 5%;
}

.accueilChoose:hover > .filter {
  color: #9356DC;
  background-color: #eae2f1;
}

.filter {
  display: flex;
  border: 2px solid #D3D3D3;
  margin-top: 35px;
  margin-bottom: 10px;
  border-radius: 25px;
  font-weight: bold;
  min-height: 60px;
  box-shadow: 0px 5px 5px rgb(228, 223, 223);
  align-items: center;
  padding-left: 11%;
  padding-right: 11%;
  font-size: 15px;
  background: #f3f3f3;
}

.filter_number {
  background-color: #9356DC;
  border-radius: 50%;
  color: #f2f2f2;
  z-index: 1;
  position: relative;
  min-width: 24px;
  min-height: 24px;
  margin-right: 10%;
  margin-left: -17.95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter_number {
  padding-right: 2px;
  margin-left: -17%;
}

.filter_word {
  font-size: 16px;
  padding-left: 9%;
}

#restaurants {
  background-color: #f3f3f3;
  max-width: 1400px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 3px;
  min-height: 1250px;
}

.restaurant_cube a {
  text-decoration: none;
  color: inherit;
}

.restaurant_cube {
  margin-bottom: 40px;
  box-shadow: 2px 2px 2px 1px #c5bcbc;
  border-radius: 9px 9px 9px 9px;
  background-color: white;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 9px;
  min-height: 254px;
  position: relative;
}

.restaurant_new {
  background-color: rgb(77, 220, 167);
  color: #0d3a0d;
  z-index: 1;
  position: absolute;
  padding: 2%;
  right: 17px;
  top: 26px;
  max-width: 105px;
  overflow-wrap: break-word;
}

.restaurant_image {
  object-fit: cover;
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
}

.restaurant_description {
  display: flex;
  flex-direction: column;
}

.restaurant_first_title {
  display: flex;
  font-weight: bold;
  font-size: 19px;
}

.restaurant_sub_title {
  font-size: 16px;
  padding-top: 3%;
}

.heart {
  padding-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Menu Restaurant */
  .bodyBackground {
    background-color: #f3f3f3;
    border-radius: 0;
    z-index: 3;
    position: unset;
    margin-top: -40px;
    width: 100%;
  }
  .restaurant_titleAndHeart {
    padding-left: 12%;
  }
  .subTitlePage {
    font-size: 16px;
  }
  .checkValidation {
    padding-right: 6%;
  }
  .menuhead_title {
    font-size: 20px;
    margin-top: 10px;
  }
  .menuSubtitle {
    font-size: 19px;
  }
  /* Menu Accueil */
  #fonctionnement {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .filter {
    display: flex;
    border: 2px solid #D3D3D3;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 25px;
    font-weight: bold;
    width: 65%;
    min-height: 60px;
    box-shadow: 0px 5px 5px rgb(228, 223, 223);
    align-items: center;
    margin-left: 20px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 15px;
    background: #f3f3f3;
  }
  #restaurants {
    background-color: #f3f3f3;
    max-width: 1400px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 3px;
  }
  .restaurantTitle {
    padding-left: 4%;
    padding-right: 4%;
    font-size: 23px;
  }
  .restaurant_new {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: absolute;
    top: 30px;
    right: 36px;
  }
}
@media screen and (min-width: 992px) {
  /* Menu Restaurant */
  .restaurant_titleAndHeart {
    display: flex;
    padding-right: 9%;
  }
  .restaurant_title {
    display: flex;
    margin-left: 17%;
    font-size: 30px;
    font-weight: bold;
  }
  .subTitlePage {
    margin-top: 24px;
    text-decoration: underline;
    text-decoration-color: aquamarine;
    font-size: 23px;
  }
  .menuPart {
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: inherit;
    justify-content: space-between;
  }
  .checkValidation {
    padding-right: 5%;
  }
  .menuhead_title {
    font-weight: bold;
    margin-top: 13px;
    font-size: 22px;
  }
  .menuSubtitle {
    display: flex;
    font-size: 15px;
  }
  .subTitle {
    display: flex;
    align-items: center;
  }
  .price {
    margin-left: 20px;
    font-weight: bold;
  }
  .bodyBackground {
    background-color: #f3f3f3;
    z-index: inherit;
    position: inherit;
  }
  /* Menu Accueil */
  #fonctionnement {
    display: flex;
    justify-content: space-around;
    margin-bottom: 34px;
  }
  .filter {
    display: flex;
    margin-bottom: 12px;
  }
  .filter {
    display: flex;
    border: 2px solid #D3D3D3;
    margin-top: 35px;
    margin-bottom: 12px;
    border-radius: 25px;
    font-weight: bold;
    width: 17%;
    min-height: 50px;
    align-items: center;
    padding-left: 47px;
    padding-right: 67px;
    font-size: 13px;
  }
  .filter_number {
    margin-left: -30%;
  }
  #restaurants {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    min-height: 50px;
  }
  .restaurantTitle {
    padding-left: 1%;
    padding-left: 1%;
  }
  .restaurant_card {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
  }
  .restaurant_cube {
    width: 20%;
    margin-top: 0;
    margin-right: 0%;
    margin-left: 0%;
    box-shadow: 2px 2px 2px 1px #c5bcbc;
    min-height: 195px;
    position: relative;
  }
  .restaurant_new {
    right: 10px;
    top: 24px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    padding: 1%;
  }
  .restaurant_image {
    width: 100%;
    height: 125px;
  }
  .restaurant_first_title {
    display: flex;
    font-weight: bold;
    font-size: 13px;
  }
  .restaurant_sub_title {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
