@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.menu_menu_section_card .menu_menu_section_card_description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: width ease 0.7s;
}

.menu_menu_section_card:hover .menu_menu_section_card_description {
  width: calc(100% - 70px);
}

.menu_menu_section_card div i {
  width: 25px;
  height: 25px;
  display: inline-block;
  transition: transform ease 0.5s;
}

.menu_menu_section_card:hover i {
  transform: rotate(360deg);
}

/* heard */
.restaurantmenu__presentation__title__like,
.restaurants__figcaption__like {
  display: inline-block;
  position: absolute;
  width: 2rem;
  margin: 0.3rem 0.5rem 0 0;
  right: 1rem;
  bottom: 3.5rem;
  cursor: pointer;
}

.restaurants__figcaption__like__emptyheart {
  width: 2rem;
  position: absolute;
}

.restaurants__figcaption__like__fullheart {
  width: 2rem;
  position: absolute;
  opacity: 0;
}

.restaurants__figcaption__like__fullheart:hover {
  opacity: 1;
  transition: 400ms ease-in-out;
}

* {
  box-sizing: border-box;
}

.loading {
  max-width: 1400px;
  padding-right: 50px;
  padding-left: 50px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  animation: hideLoader 2500ms 1 forwards;
}

@keyframes hideLoader {
  from {
    z-index: 2;
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  max-width: 767px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    max-width: 991px;
    padding: 0;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  body {
    max-width: 1400px;
  }
}
/* Heart */
.heart {
  position: absolute;
  right: 15px;
  bottom: 33px;
}

.restaurant_title_and_heart .heart {
  position: absolute;
  right: 8%;
  bottom: 8px;
}

#container-restaurants-menu_section_cards {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 15px;
  margin-bottom: 47px;
}

.restaurants-menu_section_cards {
  display: block;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.31);
  border-radius: 23px 23px 23px 23px;
  height: 250px;
  position: relative;
  text-decoration: none;
  color: #000000;
}

.restaurants-menu_section_cards img {
  border-radius: 23px 23px 0px 0px;
  width: 100%;
  object-fit: cover;
  height: 67%;
}

.restaurants-menu_section_cards h4 {
  margin-left: 15px;
}

.restaurants-menu_section_cards p {
  margin-left: 15px;
  margin-top: -15px;
  font-size: 1.02rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #container-restaurants-menu_section_cards {
    flex-wrap: wrap;
    flex-direction: inherit;
  }
  .restaurants-menu_section_cards {
    width: calc(50% - 17.5px);
  }
}
@media screen and (min-width: 992px) {
  #container-restaurants-menu_section_cards {
    flex-direction: row;
  }
  .restaurants-menu_section_cards {
    width: calc(25% - 16.25px);
  }
}
/*footer */
.footer_description a {
  text-decoration: none;
  color: inherit;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 184px;
}

.footBlocSize {
  font-size: 14px;
  min-height: 30px;
  margin-top: 0px;
  margin-left: 0px;
  color: white;
  padding-left: 5%;
  padding-bottom: 2%;
}

.footer_description {
  color: white;
  padding-left: 5%;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.footer_sub_name {
  margin-left: 8px;
  margin-bottom: 5px;
}

.footer_first_title {
  padding-left: 5%;
  font-weight: bold;
  padding-top: 5%;
  font-size: 17px;
  color: white;
  margin-bottom: 1px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    min-height: 235px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer_description {
    padding-left: 40%;
  }
  .footer_first_title {
    padding-left: 40%;
    font-weight: bold;
    padding-top: 5%;
    font-size: 17px;
    color: white;
  }
}
@media screen and (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: column;
    background-color: #000000;
  }
  .footer_sub_name {
    margin-left: 8px;
  }
  .footer_first_title {
    font-size: 23px;
    padding-left: 48%;
  }
  .footer_description {
    display: flex;
    align-items: center;
    padding: 3px;
    padding-left: 48%;
    color: white;
  }
}
header {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* header Accueil */
.circle-animation {
  margin: auto;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #6a1b9a;
  width: 200px;
  height: 200px;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header_accueil_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  min-height: 60px;
}

.header_accueil_location {
  margin-left: 12px;
  font-weight: bold;
}

.header_accueil_background_description {
  background-color: #f3f3f3;
  min-height: 264px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header_accueil_description_first {
  font-size: 23px;
  text-align: center;
  padding-top: 24px;
  padding-left: 63px;
  padding-right: 60px;
}

.header_accueil_description_sub {
  font-size: 20px;
  text-align: center;
  font-weight: inherit;
  padding-bottom: 14px;
}

.header_accueil_button {
  display: flex;
  border: 2px solid #D3D3D3;
  border-radius: 85px;
  box-shadow: 1px 1px 1px 1px;
  justify-content: center;
  min-height: 50px;
  align-items: center;
  font-size: 18px;
  color: white;
  margin-bottom: 54px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  filter: brightness(0.9);
  transition: filter ease 0.5s;
  cursor: pointer;
}

.header_accueil_button:hover {
  filter: brightness(1);
}

/* header Restaurant */
.header_restaurant_logo {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 30%;
  align-items: center;
}

.header_restaurant_logo_arrow {
  text-decoration: none;
  color: black;
}

.head_title_image {
  min-height: 20vh;
  width: 100%;
  max-height: 47vh;
  object-fit: cover;
}

.head_title {
  display: flex;
  flex-direction: column;
}

/* header accueil */
.header_accueil_background_location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 230, 230);
  height: 50px;
}

/* header restaurant */
.header_restaurant_logo {
  padding-right: 30%;
}

.header_restaurant_logo {
  padding-right: 30%;
}

.header_restaurant_logo_arrow {
  margin-left: 25px;
}

@media screen and (min-width: 992px) {
  /* header accueil*/
  .logo {
    margin-left: 35px;
  }
  .header_accueil_background_description {
    background-color: #f3f3f3;
  }
  /* header restaurant*/
  .header_restaurant_logo {
    padding-right: 40%;
  }
  .head_title {
    display: flex;
  }
}
/* Menu Restaurant */
.restaurant_body_background {
  background-color: #f3f3f3;
  border-radius: 43px 43px 0 0;
  z-index: 1;
  position: relative;
  margin-top: -48px;
  min-height: 1300px;
}

.restaurant_title_and_heart {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.restaurant_name {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 1.5em;
  padding-bottom: 0.25em;
}

.restaurant_title {
  position: relative;
  padding-left: 5%;
}

.restaurant_background_order {
  display: flex;
  flex-direction: column;
}

.restaurant_background_order {
  margin-left: 1.5em;
  margin-right: 1.5rem;
}

h3 + span {
  display: block;
  height: 3px;
  width: 40px;
  background: aquamarine;
  margin-top: -10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#menu_section1 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 53px;
  align-items: center;
}

.menu_offbeat_title {
  margin-left: 42px;
}

.menu_offbeat_title_underline {
  margin-left: 42px;
}

#menu_section2 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 53px;
  align-items: center;
}

#menu_section3 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 53px;
  align-items: center;
}

.menu_section_card {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 0px #ede8e8;
  min-height: 75px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-name: slideIn;
}

.menu_section_meal {
  width: calc(100% - 20px);
}

.menu_section_card_title {
  font-size: 17px;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-right: 5%;
  padding-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu_section_card_title_long {
  font-size: 17px;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-right: 5%;
  padding-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu_section_card .menu_section_card_title_long {
  transition: width ease 0.5s;
}

.menu_section_card_description {
  display: flex;
  font-weight: normal;
  font-size: 13px;
  justify-content: space-between;
  padding-left: 20px;
}

.menu_section_card .menu_section_card_subtitle_long {
  transition: width ease 0.5s;
}

.menu_section_card:hover .menu_section_card_title_long {
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu_section_card:hover .menu_section_card_subtitle_long {
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu_section_card_price {
  margin-left: 20px;
  font-weight: bold;
  width: 4%;
  transition: width ease 0.5s;
}

.menu_section_card:hover .menu_section_card_price {
  width: 90px;
}

.menu_section_card_svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 75px;
  border-radius: 0px 15px 15px 0px;
  background: #99E2D0;
  transition: width ease 0.5s;
  text-align: center;
  padding-top: 27px;
  overflow: hidden;
}

.menu_section_card:hover .menu_section_card_svg {
  width: 75px;
}

.menu_section_card_svg svg {
  width: 25px;
  height: 25px;
  display: inline-block;
  transition: transform ease 0.5s;
}

.menu_section_card:hover svg {
  transform: rotate(360deg);
}

.menu_order {
  display: flex;
  justify-content: center;
}

.menu_order_word {
  display: flex;
  border-radius: 85px;
  border: 2px solid #d3d3d3;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px;
  min-height: 50px;
  align-items: center;
  margin-bottom: 10%;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  border: none;
  outline: none;
  filter: brightness(0.9);
  transition: filter ease 0.5s;
  cursor: pointer;
}

.menu_order_word:hover {
  filter: brightness(1);
}

/* Menu accueil */
.homepage_subtitle {
  margin-left: 23px;
  font-size: 23px;
}

#fonctionnement {
  display: inherit;
  margin-bottom: 63px;
  padding-left: 5%;
  padding-right: 5%;
}

* {
  box-sizing: border-box;
}

button {
  display: block;
  border: none;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  height: 70px;
  position: relative;
}

button svg {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 10px;
}

button span:last-child {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: #ffffff;
  text-align: center;
  padding-top: 4px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(-50%, -50%, 0);
}

button:hover {
  background: #f3e5f5;
}

button:hover svg path {
  fill: #6a1b9a;
}

#container_restaurants_menu_section_cards {
  background-color: #f3f3f3;
  max-width: 1400px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 3px;
  min-height: 1250px;
}

.restaurant_new {
  background-color: #99E2D0;
  color: #0d3a0d;
  z-index: 1;
  position: absolute;
  padding: 2%;
  right: 17px;
  top: 26px;
  max-width: 105px;
  overflow-wrap: break-word;
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Menu Restaurant */
  .menu_section_card:hover .menu_section_card_title_long {
    width: inherit;
  }
  .menu_section_card:hover .menu_section_card_subtitle_long {
    width: inherit;
  }
  /* Menu Accueil */
  #fonctionnement {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
    padding-left: 2%;
    padding-right: 2%;
    gap: 15px;
  }
  #fonctionnement button {
    width: calc(33.3333333333% - 10px);
  }
  #container_restaurants_menu_section_cards {
    background-color: #f3f3f3;
    display: flex;
    gap: 15px;
  }
  .restaurantTitle {
    padding-left: 4%;
    padding-right: 4%;
    font-size: 23px;
  }
  .restaurant_new {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: absolute;
    top: 30px;
    right: 36px;
  }
}
@media screen and (min-width: 992px) {
  /* Menu Restaurant */
  .menu {
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: inherit;
    justify-content: space-between;
  }
  .menuhead_title {
    font-weight: bold;
    margin-top: 13px;
    font-size: 22px;
  }
  .menu_menu_section_card_description {
    display: flex;
    font-size: 15px;
  }
  .menu_menu_section_card_subtitle {
    display: flex;
    align-items: center;
  }
  .menu_section_card:hover .menu_section_card_title_long {
    width: inherit;
  }
  .menu_section_card:hover .menu_section_card_subtitle_long {
    width: inherit;
  }
  /* Menu Accueil */
  #fonctionnement {
    display: flex;
    justify-content: space-around;
    margin-bottom: 34px;
    padding-left: 0%;
    padding-right: 0%;
    gap: 30px;
  }
  #fonctionnement button {
    width: calc(33.3333333333% - 46.6666666667px);
  }
  #container_restaurants_menu_section_cards {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    min-height: 50px;
  }
  .restaurantTitle {
    padding-left: 1%;
    padding-left: 1%;
  }
  .restaurant_menu_section_card {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
  }
  .restaurant_new {
    right: 10px;
    top: 24px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    padding: 1%;
  }
}

/*# sourceMappingURL=style.css.map */
