

/* animaton accueil */

.accueilLoading

{

  display: flex;

  position: fixed;

  width: 100%;

  min-height: 100%;

  z-index: 10;

  background-image: url("/images/logo/ohmyfood.png");

  background-color: lightgrey;

  animation: hideLoader 3500ms 1 forwards;

  animation-delay: 1500ms;

  left:0;  

  align-items:center;

  justify-content:center;

}

@for $i from 1 through 8 {

  .accueilLoading svg :nth-child(#{$i}) {

    animation-name: rotation;

    animation-duration: 0.7s;

    animation-delay: #{$i - 1}s;

    animation-fill-mode: forwards;

    opacity:0;      

  }

}





// .accueilLoading svg > path{

//   animation: rotation 1.7s 1 linear;

//   }



@keyframes rotation {

from {

  transform: translateX(75%);

  opacity:0,5;

 

}

to {

  transform: translateX(0%);

  opacity:1;

}

}


@keyframes slideIn{
  
  from{
    
      opacity:0;
      transform:translate3d(0, 15px, 0);
    
  }
  
  to{
    
      opacity:1;
      transform:translate3d(0,0,0);
    
  }

}

.menu_card .menu_card_description{
  
  text-overflow:ellipsis;
  overflow:hidden;
  white-space: nowrap;
  transition:width ease 0.7s;

}

.menu_card:hover .menu_card_description{

  width:calc(100% - 70px);

}

.menu_card div i{

  width:25px;
  height:25px;
  display:inline-block;
  transition:transform ease 0.5s;

}

.menu_card:hover i{

   transform:rotate(360deg);

}


/* heard */

.restaurantmenu__presentation__title__like,
.restaurants__figcaption__like {
  display:inline-block;
  position: absolute;
  width: 2rem;
  margin: 0.3rem 0.5rem 0 0;
  right:1rem;
  bottom:4rem;
  cursor: pointer;
}

.restaurants__figcaption__like__emptyheart {
  width: 2rem;
  position: absolute;
}



.restaurants__figcaption__like__fullheart {
  width: 2rem;
  position: absolute;
  opacity: 0;
}

.restaurants__figcaption__like__fullheart:hover {
  opacity: 1;
  transition: 400ms ease-in-out;
}

   