

.menu_menu_section_card .menu_menu_section_card_description {

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: width ease 0.7s;

}

.menu_menu_section_card:hover .menu_menu_section_card_description {

  width: calc(100% - 70px);

}

.menu_menu_section_card div i {

  width: 25px;
  height: 25px;
  display: inline-block;
  transition: transform ease 0.5s;

}

.menu_menu_section_card:hover i {

  transform: rotate(360deg);

}


/* heard */

.restaurantmenu__presentation__title__like,
.restaurants__figcaption__like {
  display: inline-block;
  position: absolute;
  width: 2rem;
  margin: 0.3rem 0.5rem 0 0;
  right: 1rem;
  bottom: 3.5rem;
  cursor: pointer;
}

.restaurants__figcaption__like__emptyheart {
  width: 2rem;
  position: absolute;
}



.restaurants__figcaption__like__fullheart {
  width: 2rem;
  position: absolute;
  opacity: 0;
}

.restaurants__figcaption__like__fullheart:hover {
  opacity: 1;
  transition: 400ms ease-in-out;
}